* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f6f5f1;
  color: #000000;
  font-weight: 400;
  font-size: 1.4rem;
}

#app {
  padding: 6.4rem 25.6rem;
  display: grid;
  grid-template-columns: 16rem auto;
  position: relative;
}

footer {
  grid-column: 1 / -1;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav {
  display: flex;
  flex-direction: column;
}

.desc {
  display: inline-block;
  padding: 1.2rem 10.8rem 1.2rem 1.6rem;
}

nav li {
  background-color: #ffffff;
  list-style: none;
  width: 16rem;
  padding: 1.2rem 0 1.2rem 1.6rem;
  border-radius: 1.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

nav li:link {
  background-color: #ffffff;
}

nav li:hover {
  background-color: #def2dd;
}

nav li:visited {
  background-color: #46aa42;
}

nav li:active,
nav li:focus {
  background-color: #def2dd;
}

nav .checkbox {
  order: 1;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: #004040;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 4.2rem;
  height: 2.6rem;
}

.toggle input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #dedede;
  transition: 0.4s;
  border-radius: 13px;
}

.checkbox-icon {
  z-index: 5;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.8rem;
  width: 1.8rem;
  left: 0.4rem;
  bottom: 0.4rem;
  background-color: #ffffff;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #8bc34a;
}

input:checked + .slider:before {
  transform: translateX(1.7rem);
}

article {
  margin-left: 1.6rem;
  justify-content: center;
}

article ul {
  display: flex;
  flex-wrap: wrap;
}

article li {
  display: flex;
  flex-direction: column;
  height: 16rem;
  width: 16rem;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  margin: 0.8rem;
  border-radius: 1.5rem;
}

article ul li img {
  width: 6.4rem;
  height: 6.4rem;
  order: -1;
}
