* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f6f5f1;
  color: #000000;
  font-weight: bold;
  font-size: 1.4rem;
}

#app {
  padding: 6.4rem 25.6rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  position: relative;
}

footer {
  grid-column: 1 / -1;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer span {
}

nav {
  display: flex;
  flex-direction: column;
}

nav span,
article span {
  display: inline-block;
  padding: 1.2rem 10.8rem 1.2rem 1.6rem;
}

nav li {
  background-color: #ffffff;
  list-style: none;
  width: 16rem;
  padding: 1.2rem 0 1.2rem 1.6rem;
  border-radius: 1.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

nav li:link {
  background-color: #ffffff;
}

nav li:hover {
  background-color: #def2dd;
}

nav li:visited {
  background-color: #46aa42;
}

nav li:active,
nav li:focus {
  background-color: #def2dd;
}

nav button {
  order: 1;
}
article {
  margin-left: 1.6rem;
}

article ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

article li {
  display: grid;
  list-style: none;
  height: 16rem;
  width: 16rem;
  border-radius: 1.5rem;
  background-color: #ffffff;
  margin: 1.6rem;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

article ul li img {
  width: 6.4rem;
  height: 6.4rem;
  order: -1;
}
